body {
    background-color: #eff1f4;
}

.body-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.header {
    display: flex;
    width: 100%;
    flex-grow: 1;
    /* height: 20%; */
    /* position: fixed; */
}

.header .title {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.header .logo-img {
    height: 50px;
    object-fit: cover;
    margin: auto;
    border-radius: 5px;
}

.main-content{
    display: flex;
    width: 100%;
    flex-grow: 4;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;

    /* The below is only needed to force the sidebar to take ~33% of screen */
    width: 30%;
    min-width: 30%;
}

.main {
    display: flex;
    flex-grow: 2;
}

#products-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 1em;
}

#products-container .product-card {
    flex-basis: 30%;
    position: relative;
    cursor: pointer;
}

#products-container .product-card:hover .overlay {
    transform: scale(1);
}

#products-container .product-card img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 0.25rem;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    
    /* center overlay text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }

.category-option {
    font-size: x-large;
    list-style: none;
    margin-bottom: 1em;
}
.category-option a:hover {
    text-decoration: underline;
    cursor: pointer;
}